 table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
  }
   th:first-child {
    border-radius: 6px 0 0 0;
  }

  th:last-child {
    border-radius: 0 6px 0 0;
  }

  th:only-child{
    border-radius: 6px 6px 0 0;
  }
    .bordered tr:hover {
    background: #fbf8e9;
    transition: all 0.1s ease-in-out;
  }
   $('.bordered tr').mouseover(function(){
      $(this).addClass('highlight');
  }).mouseout(function(){
      $(this).removeClass('highlight');
  });
    .highlight {
    background: #fbf8e9;
    transition: all 0.1s ease-in-out;
  }
  .zebra tbody tr:nth-child(even) {
    background: #f5f5f5;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  }
    $(".zebra tbody tr:even").addClass('alternate');
     .alternate {
    background: #f5f5f5;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  }
